@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode variant */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* Custom input style */
.input {
  @apply w-full rounded-xl border border-gray-300 px-4 py-3 outline-none
  focus:ring-2 focus:ring-green-400 focus:border-transparent transition;
}

@layer utilities {
  /* Rotating container */
  .rotate-frame {
    animation: rotate-frame 12s linear infinite;
    transform-origin: center;
  }

  /* Dashed lines */
  .frame-line {
    fill: none;
    stroke: #e5d3c2;
    stroke-width: 2;

    stroke-dasharray: 10 8;

    stroke-linecap: round;
    stroke-linejoin: round;
  }

  /* Corner dots */
  .frame-dot {
    fill: #f5e6d3;
  }
}

/* Rotation animation */
@keyframes rotate-frame {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Cards */
.card {
  @apply bg-white/10 backdrop-blur-xl border border-white/20 rounded-3xl shadow-xl p-6 text-white;
}

.card-title {
  @apply text-lg font-bold mb-2;
}

/* Buttons */
.btn-green {
  @apply flex-1 flex items-center justify-center gap-2 py-2 rounded-xl font-semibold
  text-black bg-gradient-to-r from-green-400 to-emerald-500 hover:scale-105 transition;
}

.btn-red {
  @apply flex-1 flex items-center justify-center gap-2 py-2 rounded-xl font-semibold
  text-white bg-gradient-to-r from-red-500 to-rose-600 hover:scale-105 transition;
}

/* Empty */
.empty-box {
  @apply bg-white/10 p-10 rounded-3xl text-center text-white shadow-xl;
}

/* Info */
.info {
  @apply flex justify-center gap-2 text-gray-300 text-sm;
}

/* Spinner */
.spinner {
  @apply w-10 h-10 border-4 border-white border-t-transparent rounded-full animate-spin;
}

/* Speed Delivery UI */

.input-wrap {
  @apply flex items-center gap-3 border rounded-xl px-4 py-3 focus-within:border-orange-500;
}

.input-wrap input {
  @apply w-full outline-none;
}

/* .input {
  @apply w-full px-3 py-2 border rounded-xl outline-none focus:ring-2 focus:ring-orange-400;
} */

.btn-primary {
  @apply w-full py-3 rounded-xl bg-gradient-to-r from-orange-500 to-yellow-500
  text-white font-bold flex justify-center items-center gap-2 hover:scale-[1.02] transition;
}

.btn-success {
  @apply w-full py-3 rounded-xl bg-green-500 text-white font-bold;
}

.btn-link {
  @apply w-full py-2 text-gray-500 flex justify-center items-center gap-2;
}

.pay-card {
  @apply border rounded-xl p-4 flex flex-col items-center gap-2 font-semibold transition hover:border-orange-400;
}

.pay-active {
  @apply border-orange-500 bg-orange-50 scale-[1.03];
}
