@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Custom input style */
.input {
  @apply w-full rounded-xl border border-gray-300 px-4 py-3 outline-none
  focus:ring-2 focus:ring-green-400 focus:border-transparent transition;
}
